
/***********************************************/
/* Fonts                                       */
/***********************************************/

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700');


/***********************************************/
/* General styles                              */
/***********************************************/

body { 
	-webkit-font-smoothing: antialiased;
}
a { 
}
a:hover, a:focus { 
}
a:active {  
}


/* mobile */
@media screen and (max-width: 991px) {

}

/***********************************************/
/* Overwritten Angular Material Styles         */
/***********************************************/


/***********************************************/
/* Forms                                       */
/***********************************************/


/***********************************************/
/* Layout Divs                                 */
/***********************************************/


/***********************************************/
/* Components	               		           */
/***********************************************/


/***********************************************/
/* Pages styles    		                      */
/***********************************************/



