
/* Page informes *******************************************************************************/


body.page-informes > main {
}
body.page-informes > main .container {
	text-align: left;
	max-width: none;;
	margin: 0 auto;
}



body.page-informes > main md-tab-item {
	padding: 0;
}
body.page-informes > main md-tab-item a {
	padding: 12px 24px;
	display: inline-block;
	text-decoration: none;
	color: inherit;
	font-size: 16px;;;;
}

body.page-informes .myGrid {
	font-size: 14px;
	height: calc(100% - 131px) !important;
}


/* mobile */
@media screen and (max-width: 1450px) {

	

}