
/* Page informes *******************************************************************************/


body.page-informes > main {
}
body.page-informes > main > section {
	height: 100%;
	position: relative;
}



body.page-informes > main md-tab-item {
	padding: 0;
}
body.page-informes > main md-tab-item a {
	padding: 12px 24px;
	display: inline-block;
	text-decoration: none;
	color: inherit;
	font-size: 16px;
}

body.page-informes .myGrid {
	font-size: 14px;
	height: calc(100% - 131px) !important;
}




body.page-informes section.ocupacion-de-estanterias .myGrid {
	height: calc(100% - 131px) !important;
}

body.page-informes section.stock-por-referencia .myGrid {
	height: calc(100% - 102px) !important;
}

body.page-informes section.stock-por-referencia .myForm label {
	display: inline-block;
	text-transform: uppercase;
	font-size: 16px;
	vertical-align: middle;
	padding-right: 6px;;
}


body.page-informes section.stock-por-referencia .layout-row label {
    display: block;
    font-size: 16px;
    margin-bottom: 4px;
}
body.page-informes section.stock-por-referencia .container {
	max-width: 1000px;;
}







/* mobile */
@media screen and (max-width: 1450px) {

	

}