
<section class="container stock-por-referencia">

	<ng-include src="'js/pages/informes/partial-tabs.html'"></ng-include> 

	<div class="container">
		


		<form class="myForm" ng-submit="loadData()">
			<label>Referencia</label>
			<md-input-container md-no-float>
		        <input type="text" ng-model="ref" required>
		    </md-input-container>
		    <md-button type="submit" class="md-raised md-primary">Mostrar</md-button>
	   	</form>

		<br>
		<br>

		<div layout="row" layout-wrap>
			

		    <div flex="50">

		    	<dl>
					<dt>Stock por piezas</dt>
					<dd>{{ StockPiezas }}</dd>
					
					<dt>Stock por pallets</dt>
					<dd>{{ StockPallets }}</dd>
					
					<dt>Min de piezas</dt>
					<dd>{{ MinPiezas }}</dd>
					
					<dt>Max de piezas</dt>
					<dd>{{ MaxPiezas }}</dd>
					
					<dt>CMJ</dt>
					<dd>{{ CMJ }}</dd>

				</dl>

			</div>

			
		    <div flex="50">

		    	<label>Posiciones</label>

				<p>
					<div ui-grid="gridOptions" ui-grid-selection ui-grid-exporter class="myGrid"></div>
				</p>

				<p>
					<md-button class="md-raised md-primary" ng-click="exportExcel()">Exportar Excel</md-button>
				</p>

		    </div>

		</div>


		
	</div>
	
</section>