
<div class="zoom-controls">
	<md-button class="md-raised md-primary zoom-in" ng-click="zoomIn()">&#43;</md-button>
	<md-button class="md-raised md-primary zoom-out" ng-click="zoomOut()">&#8722;</md-button>
</div>

<div id="agv-popup" class="popup" md-theme="dark">
	<h3>AVG {{ selectedAGV.id }}</h3>
</div>

<div id="position-popup" class="popup" md-theme="dark">
	<h3>POSICIÓN {{ selectedPosition.id }}</h3>
	<p ng-show="!storagePositionNichesData.length" layout="row" layout-align="center">
		<md-progress-circular md-diameter="20px"></md-progress-circular>
	</p>
	<p ng-repeat="niche in storagePositionNichesData">
		Nicho {{ niche.id }}<br>
		{{ niche.product ? 'Producto ' + niche.product : '-' }}
	</p>
</div>

<div id="mapa" ng-click="mapClick()">
	
	<div 
		ng-repeat="agv in AGVData"  
		id="agv-{{ agv.id }}"
		class="agv" 
		style="transform: translate({{ agv.x }}px, {{ agv.y }}px) rotate({{ agv.orientation }}deg)"
		ng-click="openAGVPopup($event, agv)">
		{{ agv.id }}
	</div>

	<div 
		ng-repeat="position in storagePositionsData"  
		id="position-{{ position.id }}"
		class="position" 
		style="left: {{ position.x }}%; top: {{ position.y }}%"
		ng-click="openPositionPopup($event, position)">
	</div>


	<!-- <img src="mapa/410.svg" alt="" /> -->
	<img src="mapa/AGV PSA Vigo_ESTIRADO_v5.svg" alt="">
</div> 
