
<div class="zoom-controls">
	<md-button class="md-raised zoom-in" ng-click="zoomIn()">&#43;</md-button>
	<md-button class="md-raised zoom-out" ng-click="zoomOut()">&#8722;</md-button>
</div>

<div id="mapa">
	
	<div class="agvs">
		<div 
			ng-repeat="agv in AGVData"  
			id="agv-{{ agv.id }}"
			class="agv" 
			style="transform: translate({{ agv.x }}px, {{ agv.y }}px) rotate({{ agv.orientation }}deg)">
			{{ agv.id }}
		</div>
	</div>


	<!-- <img src="mapa/410.svg" alt="" /> -->
	<img src="mapa/AGV PSA Vigo_ESTIRADO_v5.svg" alt="">
</div> 
