
<div layout="row">

	<div flex layout="column">

		<section class="actions">
			
			<h2>Selecciona el método de inserción</h2>

			<form ng-submit="insertProductByInput()">
				<p>
					<label>Por teclado</label>
					<md-input-container md-no-float>
				        <input type="text" name="productId" ng-model="productId" placeholder="Código de producto">
				    </md-input-container>
				    <md-button type="submit" class="md-raised md-primary block-product">Insertar <md-progress-circular></md-progress-circular></md-button>
				</p>
		   	</form>

			<form ng-submit="selectReader()" class="reader">
				<p>
					<label>Por lector</label>
					<md-input-container md-no-float>
        				<md-select ng-model="readerId" placeholder="Seleccionar lector">
            				<md-option ng-repeat="reader in readersData" ng-value="reader">{{ reader }}</md-option>
          				</md-select>
        			</md-input-container>
				    <md-button type="submit" class="md-raised md-primary">Seleccionar <md-progress-circular></md-progress-circular></md-button>
				</p>
		   	</form>

			<form ng-submit="uploadFile()" class="upload-file">
				<p>
					<label>Por archivo</label>
					<md-input-container md-no-float>
				        <span class="file-input">
				        	<input type="file" id="uploadFileInput" placeholder="Seleccionar archivo">
				        </span>
				    </md-input-container>
				    <md-button type="submit" class="md-raised md-primary">Enviar <md-progress-circular></md-progress-circular></md-button>
				</p>
		   	</form>



		</section>	

	</div><!-- !column -->

	<section flex class="blocked-products">
		
		
	</section>

</div>
