

	<h2>Ubicaciones</h2>

    <div ui-grid="gridOptions" ui-grid-selection ui-grid-exporter class="myGrid"></div>

	<div layout="row" layout-wrap>
	    <div flex="50">
			<p>
				<md-button class="md-raised md-primary add" ng-click="addRow()" ng-disabled="selectedItem.Id && selectedItem.Id == '0'">Añadir <md-progress-circular></md-progress-circular></md-button>
				&nbsp;
				<md-button class="md-raised md-warn delete" ng-disabled="!selectedItem || (selectedItem.Id && selectedItem.Id == '0')" ng-click="deleteRow()">Suprimir <md-progress-circular></md-progress-circular></md-button>
			</p>

	    </div>
	    <div flex="50" layout="row" layout-align="end start">

			<p>
				<md-button class="md-raised md-primary" ng-click="exportExcel()">Exportar Excel</md-button>
			</p>

		</div>
	</div>

    <form name="ubicationForm" ng-submit="updateRow()">

		<div class="row">
					
			<div class="column">
				
				<p>
			    	<label>Pasillo</label>
			    	<md-input-container md-no-float>
				        <input type="number" string-to-number min="1" max="24" ng-model="selectedItem.Pasillo" name="Pasillo" ng-disabled="!selectedItem" required>
				    </md-input-container>
				</p>

			</div><!-- /.column -->
					
			<div class="column">
				
				<p>
			    	<label>Alveolo</label>
			    	<md-input-container md-no-float>
				        <input type="number" string-to-number min="1" max="22" ng-model="selectedItem.Alveolo" ng-disabled="!selectedItem" required>
				    </md-input-container>
				</p>

			</div><!-- /.column -->
					
			<div class="column">
				
				<p>
			    	<label>Altura</label>
			    	<md-input-container md-no-float>
				        <input type="number" string-to-number min="3" max="6" ng-model="selectedItem.Altura" ng-disabled="!selectedItem" required>
				    </md-input-container>
				</p>

			</div><!-- /.column -->
					
			<div class="column">
				
				<p>
			    	<label>Producto</label>
			    	<md-input-container md-no-float>
				        <input type="text" ng-model="selectedItem.Producto" ng-disabled="!selectedItem || (selectedItem.Id && selectedItem.Id != '0')">
				    </md-input-container>
				</p>

			</div><!-- /.column -->
					
			<div class="column">
				
				<p>
			    	<label>Piezas</label>
			    	<md-input-container md-no-float>
				        <input type="text" ng-model="selectedItem.Piezas">
				    </md-input-container>
				</p>

			</div><!-- /.column -->
					
			<div class="column">
				
				<p>
			    	<md-button type="submit" class="md-raised md-primary btn-block update" ng-disabled="!selectedItem">Guardar cambios <md-progress-circular></md-progress-circular></md-button>
				</p>

			</div><!-- /.column -->


				
			
		</div>

    </form>



