
<div class="container">

	<md-tabs md-dynamic-height md-border-bottom md-selected="selectedIndex">
    	
    	<md-tab label="Cámaras">
		
			<md-input-container class="md-block">
				<textarea ng-model="camerasData" readonly="readonly"></textarea>
			</md-input-container>

		</md-tab>
    	
    	<md-tab label="Producción">
			
			<md-input-container class="md-block">
				<textarea ng-model="productionData" readonly="readonly"></textarea>
			</md-input-container>
			
		</md-tab>

	</md-tabs>


</div>
