

	<h2>Órdenes de trabajo en curso</h2>

    <div ui-grid="gridOptions" ui-grid-selection ui-grid-exporter class="myGrid"></div>


	
	<div layout="row" layout-wrap>
	    <div flex="50">

	    	<p>
				<md-button class="md-raised md-warn delete" ng-disabled="!selectedItem" ng-click="deleteRow()">Borrar <md-progress-circular></md-progress-circular></md-button>
			</p>
			
	    </div>
	    <div flex="50" layout="row" layout-align="end start">

			<p>
				<md-button class="md-raised md-primary" ng-click="exportExcel()">Exportar Excel</md-button>
			</p>

		</div>
	</div>

